{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}">
        </script>
        <link rel="stylesheet" href="{% static 'w3.css'%}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div w3-include-html="admin.htm"></div>
        <div class="w3-row">
            <div class="w3-half w3-container w3-blue">
                <h2>w3-half</h2>
            </div>
            <div class="w3-half w3-container">
                <label class="w3-label">Add Records</label>
                <form method="post" action="">
                    <table>{{ countform }}</table>
                    <button style="margin:20px" class="w3-btn w3-green w3-large">Reload</button>
                </form>

                <div id="add" class="">
                    <div class="">
                        <form method="post" action="">
                            <table>
                                {{ formset }}
                            </table>
                            <button style="margin:20px" class="w3-btn w3-green w3-large">Add</button>
                        </form>
                    </div>
                </div>
                <label class="w3-label">Delete Records</label>

                <div id="delete">
                    <div class="">
                        <form method="post" action="">
                            <label>Enter key to delete</label><br/>
                            <table>
                                {{ deleteform }}
                            </table>
                            <button style="margin:20px" class="w3-btn w3-green w3-large">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    w3IncludeHTML();
</script>
</html>