{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}">
        </script>
        <link rel="stylesheet" href="{% static 'w3.css'%}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if error %}
        <script>alert("{{ error }}")</script>
        {% endif %}
    </head>
    <body>
        <div w3-include-html="admin.htm"></div>
        <div style="margin-top:50px" class="w3-half w3-container">

            <div class="w3-responsive">
                <table class="w3-table-all w3-center">
                    <tr class="w3-green">
                        <th>Academic Year Code</th>
                        <th>Academic Year</th>
                    </tr>
                {% for form in database %}
                    <tr>
                        {% if not form.academic_year_code.value is None %}
                            <td>{{ form.academic_year_code.value }}</td>
                            <td>{{ form.academic_year.value }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
        <div class="w3-row">
            <div class="w3-half w3-container" style="margin-top:50px"><hr>
                <center><label class="w3-label" style="font-size:x-large">Add Records</label></center><hr>
                <form method="post" action="">
                    <table style="width:55%">
                        <tr>
                            <td>{{ countform }}</td>
                        </tr>
                    </table><br>
                    <button style="margin-left:360px" class="w3-btn w3-green w3-large w3-round">Reload</button>
                </form>

                <div id="add" class="">
                    <div class="">
                        <form method="post" action="">
                            <table class="w3-table" style="width:55%">
                                {{ formset }}
                            </table><br>
                            <button style="margin-left:365px" class="w3-btn w3-green w3-large w3-round">Add</button>
                        </form>
                    </div>
                </div>
                <hr/>
                <center><label class="w3-label" style="font-size:x-large">Delete Records</label></center><hr>

                <div id="delete">
                    <div class="">
                        <form method="post" action="">
                            <label>Enter year code to delete</label><br/><br>
                            <table style="width:55%">
                                <tr>
                                    <td>{{ deleteform }}</td>
                                </tr>
                            </table><br>
                            <button style="margin-left:360px" class="w3-btn w3-green w3-large w3-round">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
    w3IncludeHTML();
</script>
</html>