<!DOCTYPE html>
<html>
    <title>W3.CSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <body>

    <a href="#"><button class="w3-btn w3-green">Academic Year</button></a>

        <div class="w3-dropdown-hover">
    <button class="w3-btn w3-green" onclick="dropFunction()">Faculty</button>
    <div class="w3-dropdown-content w3-card-2 w3-light-grey" id="myDIV">
      <a href="#about">About</a>
      <a href="#base">Base</a>
      <a href="#blog">Blog</a>
      <a href="#contact">Contact</a>
      <a href="#custom">Custom</a>
      <a href="#support">Support</a>
      <a href="#tools">Tools</a>
    </div>
  </div>


<script>
// Dropdown
function dropFunction() {
    var x = document.getElementById("myDIV");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>


    </body>
</html>
