{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}">
        </script>
        {% if error %}
        <script>alert("{{ error }}")</script>
        {% endif %}
    </head>
    <body>
        <div w3-include-html="admin.htm"></div>
        <center>
        <div>
            <form method="post">
                <table class="w3-center w3-margin">
                    <tr>
                        <td><label>Current Password:</label></td>
                        <td>{{password_form.password}}</td></tr>
                    <tr class="w3-padding">
                        <td><label>New Password:</label></td>
                        <td>{{password_form.password1}}</td></tr>
                    <tr class="w3-margin">
                        <td><label>Password Again:</label></td>
                        <td>{{password_form.password2}}</td></tr>
                </table>
                <button class="w3-btn w3-green">Change Password</button>
            </form>
        </div>
        </center>
    </body>
<script>
    w3IncludeHTML();
</script>
</html>