{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}">
        </script>
        {% if error %}
        <script>alert("{{ error }}")</script>
        {% endif %}
    </head>
    <body>
        <div w3-include-html="{{ admin_page }}"></div>
        <center>
        <div>
            <form method="post">
                <table class="w3-center w3-margin" style="padding-top:100px">
                    <tr>
                        <td><label>Current Password</label></td>
                        <td style="padding-left:20px">{{password_form.password}}</td>
                    </tr>

                    <tr class="w3-padding">
                        <td style="padding-top:20px"><label>New Password</label></td>
                        <td style="padding-left:20px;padding-top:20px">{{password_form.password1}}</td>
                    </tr>
                    <tr class="w3-margin" style="padding-top:100px">
                        <td  style="padding-top:20px"><label>Confirm Password</label></td>
                        <td style="padding-left:20px;padding-top:20px">{{password_form.password2}}</td>
                    </tr>
                </table>
                <button class="w3-btn w3-green" style="margin-top:20px">Change Password</button>
            </form>
        </div>
        </center>
    <script>
    w3IncludeHTML();
</script>
    </body>
</html>