{% load static %}
<html>
    <head>
        <script src="{% static 'include.js' %}"></script>
        <link rel="stylesheet" href="{% static 'w3.css'%}"/>
        <script type="text/javascript" src="{% static 'minifiedjq.js' %}"></script>
        <script>
            function submit(form_id){
                var course = document.getElementById("selected_course").value;
                var form = document.getElementById(form_id);
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "course";
                input.value = course;

                form.appendChild(input);
                //alert("asfasfas")
                //document.getElementById(form_id).submit()
                //document.getElementById(form_id).submit(function(eventObj) {
                //    alert("sdfsdf");
                //    $(this).append('<input type="hidden" name="course" value="'
                //    + $("#selected_course").find(":selected").text() + '" /> ');
                //    return true;
                //});
                form.submit()
            }
        </script>
        <script>
        $(document).ready(function(){
           $( "#search" ).keyup(function(){
                regdnos=[];
                regdnos = $('.regdno').map(function () { return $(this).text(); }).get();
                var search = $('#search').val();
                var arrayLength = regdnos.length;
                for (var i = 0; i < arrayLength; i++) {
                   if ( regdnos[i].indexOf(search) == -1 ) {
                           $('.'+regdnos[i]).hide()
                    }
                    else
                    {
                         $('.'+regdnos[i]).show()
                    }
                }
            });
        });
        </script>
        <!--<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />-->
        <style>
            .reset{
                all: initial;
                {
                   all: unset;
                }
            }
            select{
                width:300px;
            }
            .w3-blackboard,.w3-hover-blackboard:hover{color:#fff!important;background-color:#565656!important};
            .w3-tan,.w3-hover-tan:hover{color:#fff!important;background-color:#c09f80!important};
        </style>
        {{ form.media }}
    </head>
    <body style="background-color:#e9e9e9">
        <div w3-include-html="dept_admin.html"></div>
        {% if error %}
            <div style="position:absolute; width:100%; z-index:100;" class="w3-center w3-panel w3-animate-opacity w3-red">
                <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
                <h3>{{ error|safe }}</h3>
            </div>
        {% endif %}
        <div style="margin: 5% 5% 0% 5%" class="w3-responsive w3-oxblood">
            <h3 class="w3-center">Course Registration</h3>
        </div>
        <div style="margin: 0% 5% 2% 5%" class="w3-responsive w3-white">
             <div style="margin: 3% 5% 2% 5%">
                <center>
                <form name="course_select" method="post">
                    {{ selection_form | safe}}
                </form>
                </center>
            </div>
            <div style="margin: 2% 5% 2% 5%" class="w3-responsive">
                <table class="w3-table w3-center" >
                    <col width=45%>
                    <col width=10%>
                    <col width=45%>
                    <tr>
                        <td rowspan="5">
                            <table align="left" class="w3-table-all" style="width:50%">
                                <tr class="w3-blackboard"><td class="w3-center" colspan="2">Unregistered Candidates</td></tr>
                                <form method="post" id="unreg_form" class="form" name="unreg_form" onload="filter()">
                                    <tr><td colspan="2">
                                        <form method="post">
                                            <input type="text" id="search">
                                        </form>
                                        </td>
                                    </tr>
                                    {% for form in unreg_formset %}
                                        {% if not form.student_reg_no.value is None %}
                                        <tr>
                                            <td class="{{ form.student_reg_no.value }}">{{ form.check }}</td>
                                            <td class="w3-padding-right regdno {{ form.student_reg_no.value }}">{{ form.student_reg_no.value }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </table>
                        </td>
                        <td></td>
                        <td rowspan="5">
                            <table align="right" class="w3-table-all" style="width:50%">
                                <tr class="w3-blackboard" ><td class="w3-center" colspan="2">Registered Candidates</td></tr>
                                <form method="post" id="reg_form" class="form" name="reg_form">
                                    {% for form in reg_formset %}
                                        {% if not form.student_reg_no.value is None %}
                                        <tr>
                                            <td>{{ form.check }}</td>
                                            <td class="w3-padding-right">{{ form.student_reg_no.value }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </form>
                            </table>
                        </td>
                    </tr>
                    <tr><td>
                        <!--document.forms['unreg_form'].submit()-->
                        <button onclick="submit('unreg_form')"
                                class="reset w3-btn-floating w3-blackboard"
                                style="margin-top:35px">&rarr;
                        </button>
                    </td></tr>
                    <tr><td>
                        <button onclick="submit('reg_form')"
                                class="reset w3-btn-floating w3-blackboard"
                                style="margin-top:35px">&larr;
                        </button>
                    </td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </table>
            </div>
        </div>
    </body>
    <script>
        w3IncludeHTML();
    </script>
</html>