<!DOCTYPE html>
<html>
{% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "w3.css"%}">
<style>
    .w3-oxblood,.w3-hover-oxblood:hover{color:#fff!important;background-color:#76323f!important}
    .w3-tan,.w3-hover-tan:hover{color:#fff!important;background-color:#c09f80!important}
</style>
    <body>
        <img src="{%static "jntuk.png"%}" style="width:8%;padding-top:10px;float:left"></img>
        <img src="{%static "preloader.png"%}" style="width:8%;padding-top:10px;float:right"></img>
        <div class="w3-white w3-padding-16 w3-center">
            <h1 style="font-family: Georgia, serif; text-align:center">Welcome {{ username }}</h1>
        </div>

        <div class="w3-center w3-oxblood w3-card-4">

        <a href="faculty"><button class="w3-btn w3-oxblood w3-hover-tan">Faculty</button></a>

        <div class="w3-dropdown-hover">
            <button class="w3-btn w3-oxblood w3-hover-tan" onclick="dropFunction()">Courses</button>
            <div class="w3-dropdown-content w3-card-2 w3-light-grey">
              <a style="border-bottom:1px solid lightgrey" href="course_offered">Courses Offered</a>
              <a style="border-bottom:1px solid lightgrey" href="course_registration">Course Registration</a>
              <a style="border-bottom:1px solid lightgrey" href="#base">Course Feedback Assignment</a>
            </div>
        </div>

     <div class="w3-dropdown-hover">
    <button class="w3-btn w3-oxblood w3-hover-tan" onclick="dropFunction()">Subject</button>
    <div class="w3-dropdown-content w3-card-2 w3-light-grey">
      <a style="border-bottom:1px solid lightgrey" href="subject_type">Subject Type</a>
      <a style="border-bottom:1px solid lightgrey" href="subject_delivery_type">Subject Delivery Type</a>
        <a style="border-bottom:1px solid lightgrey" href="subject_option">Subject Option</a>
    </div>
  </div>

    <div class="w3-dropdown-hover">
    <button class="w3-btn w3-oxblood w3-hover-tan" onclick="dropFunction()">Student</button>
    <div class="w3-dropdown-content w3-card-2 w3-light-grey">
      <a style="border-bottom:1px solid lightgrey" href="student">Add Student</a>
      <a style="border-bottom:1px solid lightgrey" href="student_type">Student Type</a>
    </div>
  </div>

    <div class="w3-dropdown-hover">
    <button class="w3-btn w3-oxblood w3-hover-tan" onclick="dropFunction()">Feedback</button>
    <div class="w3-dropdown-content w3-card-2 w3-light-grey">
      <a style="border-bottom:1px solid lightgrey" href="#about">Feedback Questions</a>
      <a style="border-bottom:1px solid lightgrey" href="feedback_type">Feedback Type</a>
      <a style="border-bottom:1px solid lightgrey" href="#base">Comment Log</a>
      <a style="border-bottom:1px solid lightgrey" href="#base">Rating Log</a>
    </div>
  </div>
            <div class="w3-dropdown-hover w3-right">
    <button class="w3-btn w3-oxblood w3-hover-tan w3-margin-right" onclick="dropFunction()">Hey, {{ username }}</button>
    <div class="w3-dropdown-content w3-card-2 w3-light-grey w3-margin-right" style="position:absolute; right:0">
      <a style="border-bottom:1px solid lightgrey" href="change_password">Change Password</a>
      <a style="border-bottom:1px solid lightgrey" href="logout">Logout</a>
    </div>
  </div>
    </div>
<script>

function dropFunction() {
    var x = document.getElementById("myDIV");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

</script>


    </body>
</html>
